@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i");
.list, .list-flex, .link, .nav {
  text-decoration: none;
  list-style-type: none; }

.horRow, .list-flex, .header, .products__headMid, .products__par, .parallax, .formSub__head, .formSub__par, .formSub-wrap, .content__align {
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

body {
  box-sizing: border-box;
  color: #585858;
  width: 100vw;
  overflow-x: hidden;
  line-height: 1.8;
  background: #e0e0e0;
  margin: 0 auto; }

.contentWrapper {
  max-width: 1250px;
  margin: 0 auto; }

.no-pad {
  padding-left: 0;
  padding-right: 0; }

.no-mar {
  margin-right: 0;
  margin-left: 0; }

.pr-30 {
  padding-right: 30px; }

.mb-25 {
  margin-bottom: 25px; }

.mt-6 {
  margin-top: 6px; }

.clear {
  margin: 0;
  padding: 0; }

.pageBackColor2 {
  background: #ffffff;
  margin-bottom: 0;
  /* height: auto; */ }

.df {
  display: flex; }

.par_transparent {
  color: #737373; }

.mr0 {
  margin-right: 0; }

.horRow {
  width: 135px;
  background: #ff3f40;
  height: 3px; }

.figureWrap {
  display: flex; }

.ml-8 {
  margin-left: 8px; }

.mb-8 {
  margin-bottom: 8px; }

@keyframes shadowText {
  0% {
    text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5); }
  25% {
    text-shadow: 3px 0px 10px rgba(0, 0, 0, 0.5); }
  50% {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
  75% {
    text-shadow: -3px 0px 10px rgba(0, 0, 0, 0.5); }
  100% {
    text-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5); } }

@keyframes buttonJump {
  0% {
    transform: translateY(15px); }
  10% {
    transform: translateY(24px); }
  20% {
    transform: translateY(32px); }
  100% {
    transform: translateY(32px); } }

.headBig {
  font-size: 3.75rem;
  font-weight: 900;
  font-stretch: ultra-condensed;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
  line-height: 1.2;
  animation: shadowText 2s ease-in 0s infinite alternate; }

.headMid {
  font-size: 2.6rem;
  line-height: 1.3;
  font-weight: bold;
  text-transform: uppercase; }
  @media (max-width: 580px) {
    .headMid {
      font-size: 2rem; } }

.headLit {
  font-size: 1.5rem;
  font-weight: 600; }
  @media (max-width: 580px) {
    .headLit {
      font-size: 1.2rem; } }

.par {
  color: #6f6d6d;
  min-width: 280px; }

.list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 72%; }

.button {
  width: 226px;
  height: 55px;
  border-radius: 7px;
  background: #ff3f40;
  border-width: 0;
  font-size: 1.13rem;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  border: 4px solid transparent;
  animation: buttonJump 1.5s ease-out infinite alternate; }
  .button:hover {
    background-color: #ff0000;
    transition: background-color 0.3s ease-out; }
  .button:active {
    border-color: #ff7070;
    background-color: #ec0b4b; }
  @media (max-width: 1000px) {
    .button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 70px; } }

.input {
  display: block;
  min-width: 290px;
  height: 80px;
  border-radius: 7px;
  border-width: 0;
  font-size: 1.2rem;
  text-indent: 8%;
  font-family: "Open Sans", sans-serif;
  padding-left: 10px;
  padding-right: 10px; }
  .input::placeholder {
    font-size: 1.2rem;
    text-indent: 50px;
    color: #e0e0e0;
    font-family: "Open Sans", sans-serif; }

.figure-flex {
  position: relative;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1; }

.img__bitcoin {
  margin-top: auto;
  margin-bottom: auto; }

.img-const-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.img {
  width: 100%;
  display: block; }

.fig {
  position: relative;
  margin: 0;
  padding-left: 0;
  padding-top: 0;
  margin-bottom: 20px;
  padding-right: 15px; }
  @media (max-width: 1000px) {
    .fig {
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 630px) {
    .fig {
      padding-right: 0; } }
  @media (max-width: 430px) {
    .fig {
      max-width: 290px !important; } }

.list__item {
  color: #737373;
  font-size: 1.375rem;
  font-weight: bolder;
  text-transform: uppercase;
  padding-right: 10px;
  margin-bottom: 20px; }

.category-link {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent; }
  .category-link:hover, .category-link:active {
    color: #ff3f40;
    border-bottom-color: rgba(0, 0, 0, 0.6);
    transition: color 0.4s ease-out,border-bottom-color 0.4s ease-out; }

.link {
  display: flex;
  align-items: center;
  height: 100%;
  color: #e0e0e0;
  border: 2px solid transparent; }
  .link:hover {
    background: #ff3f40;
    border-color: #c01213;
    transition: background-color 0.4s ease-out,border 0.2s ease-out;
    color: white; }
  .link:active {
    background: #ff3f40;
    border-color: #c01213;
    color: white;
    box-shadow: inset 0 0 17px 3px rgba(0, 0, 0, 0.3); }

.link_1 {
  width: 90px; }

.link_2 {
  width: 165px; }

.link_3 {
  width: 120px; }

.link_4 {
  width: 165px; }

.link__cap {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 2px solid transparent; }

.nav {
  display: flex;
  padding-left: 15px;
  padding-right: 15px; }

.nav__item {
  height: 100%; }

.nav_ {
  /* margin-left:0 */
  /* 357/$maxW*100% */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 550px; }

.header {
  background: #313030;
  font-size: .875rem;
  font-weight: bold; }

.bigmac {
  margin-top: 30px;
  float: right;
  margin-right: 11px;
  display: none;
  background: white;
  width: 54px;
  height: 29px; }
  @media (max-width: 600px) {
    .bigmac {
      display: inline-block; } }

.bigmac__inner {
  background: black;
  height: 3px;
  margin-top: 5px; }

.wrap__flex-nav {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 28.56%; }
  @media (max-width: 1000px) {
    .wrap__flex-nav {
      margin-left: 16%;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 830px) {
    .wrap__flex-nav {
      margin-right: auto;
      margin-left: auto; } }
  @media (max-width: 600px) {
    .wrap__flex-nav {
      display: none; } }

.header_ {
  margin-bottom: 90px;
  margin-top: 20px;
  height: 90px;
  width: 100%;
  max-width: 1250px; }

.sect {
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 1250px) {
    .sect {
      padding-left: 15px;
      padding-right: 15px; } }

.section__offers {
  margin-top: 100px;
  margin-bottom: 85px; }

.offers_wrap {
  margin-right: auto;
  margin-left: auto; }

.offers__headMid {
  margin-bottom: 34px;
  margin-top: 0; }
  @media (max-width: 1235px) {
    .offers__headMid {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.offers__par {
  width: 100%;
  margin-bottom: 50px; }
  @media (max-width: 1235px) {
    .offers__par {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.offers__button {
  display: block;
  background: white;
  color: #ff3f40;
  border-radius: 7px;
  border: 2px solid #ff3f40; }
  .offers__button:hover {
    background-color: #ffefef;
    transition: background-color 0.3s ease-out; }
  .offers__button:active {
    border-size: 4px;
    background-color: white; }
  @media (max-width: 1235px) {
    .offers__button {
      margin-left: auto;
      margin-right: auto; } }

@media (max-width: 1235px) {
  .offers_media {
    margin-bottom: 60px; } }

.offers__desc {
  margin-top: 10px;
  color: #737373; }
  @media (max-width: 1000px) {
    .offers__desc {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.offers__headLit {
  margin-top: 15px;
  margin-bottom: 12px; }

@media (max-width: 1000px) {
  .__media {
    padding: 0; } }

.offers__icon {
  font-size: 35px;
  color: #ff3f40; }

.section__products {
  display: block;
  padding-top: 88px;
  border-top: 2px solid #ececec;
  margin-bottom: 53px; }

.products__headMid {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center; }

.products__par {
  min-width: 280px;
  width: 38%;
  text-align: center; }

.products__list {
  padding-left: 0;
  margin-top: 60px;
  margin-bottom: 35px; }

.products__figure {
  width: 300px;
  height: 300px; }

.section__team {
  display: block; }

.team__wrap {
  width: 58%;
  min-width: 300px; }
  @media (max-width: 1230px) {
    .team__wrap {
      margin-right: auto;
      margin-left: auto; } }

.team__headMid {
  margin-bottom: 20px; }
  @media (max-width: 1235px) {
    .team__headMid {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.team__par {
  margin-bottom: 25px; }
  @media (max-width: 1235px) {
    .team__par {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.team__horRow {
  margin-left: 0;
  margin-bottom: 70px; }
  @media (max-width: 1235px) {
    .team__horRow {
      margin-left: auto;
      margin-right: auto; } }

.members {
  display: flex; }
  @media (max-width: 1250px) {
    .members {
      flex-flow: column; } }

.members-info {
  margin-left: 50px;
  width: 65%; }
  @media (max-width: 1250px) {
    .members-info {
      margin-left: auto;
      margin-right: auto;
      width: 100%; } }

.members__fig {
  width: 200px;
  height: 200px; }
  @media (max-width: 1250px) {
    .members__fig {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; } }

.members__headLit {
  font-size: 1.6rem;
  text-transform: uppercase; }
  @media (max-width: 1250px) {
    .members__headLit {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

@media (max-width: 1250px) {
  .member__info {
    margin-left: auto;
    margin-right: auto;
    text-align: center; } }

.member-figure__detailed {
  max-width: 350px;
  width: 340px; }
  @media (max-width: 1250px) {
    .member-figure__detailed {
      margin-left: auto;
      margin-right: auto; } }

.members__list {
  margin-top: 11px;
  width: 375px;
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 45px; }
  @media (max-width: 1250px) {
    .members__list {
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 600px) {
    .members__list {
      margin-left: auto;
      margin-right: auto;
      width: 90%; } }

.parallax {
  background-image: url(../img/back/parallax_2.jpg);
  background-attachment: fixed;
  background-repeat: none;
  border: 1px solid transparent; }

.sect__contacts {
  justify-content: space-between;
  margin-bottom: 85px; }

.contacts__text {
  width: 609px; }
  @media (max-width: 1000px) {
    .contacts__text {
      margin-left: auto;
      margin-right: auto; } }

.section-contacts {
  border: 1px solid transparent; }

.contacts__headBig_1 {
  margin-left: -3px;
  margin-top: 0;
  margin-bottom: 0; }
  @media (max-width: 1000px) {
    .contacts__headBig_1 {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }
  @media (max-width: 580px) {
    .contacts__headBig_1 {
      font-size: 2.3rem; } }
  @media (max-width: 330px) {
    .contacts__headBig_1 {
      font-size: 2rem;
      letter-spacing: 3px; } }

.contacts__headBig_2 {
  letter-spacing: 7px;
  margin-bottom: 15px;
  margin-top: 0; }
  @media (max-width: 1000px) {
    .contacts__headBig_2 {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }
  @media (max-width: 580px) {
    .contacts__headBig_2 {
      font-size: 2.3rem;
      letter-spacing: 4px; } }
  @media (max-width: 330px) {
    .contacts__headBig_2 {
      font-size: 2rem;
      letter-spacing: 3px; } }

.contacts__par {
  width: 80%;
  margin-top: 0;
  margin-bottom: 20px; }
  @media (max-width: 1000px) {
    .contacts__par {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.contacts__figure {
  flex-basis: 360px;
  width: 37.6%;
  max-width: 470px;
  align-self: flex-end; }
  @media (max-width: 1000px) {
    .contacts__figure {
      margin-left: auto;
      margin-right: auto; } }

.fig-cap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center; }
  .fig-cap:hover {
    opacity: 1;
    background-color: rgba(70, 70, 70, 0.6);
    transition: opacity 0.5s ease-out; }

.fig__cap {
  align-self: flex-end;
  text-align: center;
  color: red;
  font-size: 1.4rem;
  font-weight: 700;
  height: 80px;
  text-shadow: 3px 3px 12px black; }

.section-formSub {
  background-image: url(../img/back/formSubBack.jpg);
  height: 512px;
  margin-top: 85px; }
  @media (max-width: 860px) {
    .section-formSub {
      padding-left: 15px;
      padding-right: 15px; } }

.formSub__head {
  color: #ffffff;
  text-align: center;
  margin-top: 130px;
  font-size: 2.625rem;
  margin-bottom: 25px; }
  @media (max-width: 1040px) {
    .formSub__head {
      margin-top: 40px; } }
  @media (max-width: 700px) {
    .formSub__head {
      font-size: 1.9rem; } }

.formSub__par {
  color: #ffffff;
  text-align: center;
  font-size: 1.625rem;
  margin-bottom: 50px; }
  @media (max-width: 1000px) {
    .formSub__par {
      margin-bottom: 20px;
      font-size: 1.4rem; } }
  @media (max-width: 400px) {
    .formSub__par {
      font-size: 1.2rem; } }

.formSub-wrap {
  max-width: 850px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center; }
  @media (max-width: 1000px) {
    .formSub-wrap {
      flex-flow: column; } }

.formSub__input {
  margin-right: 20px;
  margin-left: auto;
  max-width: 520px;
  width: 69%; }
  @media (max-width: 1000px) {
    .formSub__input {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      height: 70px; } }
  @media (max-width: 450px) {
    .formSub__input {
      width: 80%;
      height: 60px; } }

.formSub__btn {
  width: 215px;
  height: 70px;
  margin-bottom: 65px;
  text-transform: uppercase;
  margin-left: auto; }
  @media (max-width: 450px) {
    .formSub__btn {
      height: 60px; } }

.wrapper_w {
  width: 58%; }
  @media (max-width: 1235px) {
    .wrapper_w {
      margin-left: auto;
      margin-right: auto; } }

.connect__wrap-header {
  width: 58%;
  min-width: 300px; }
  @media (max-width: 1230px) {
    .connect__wrap-header {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px; } }

.connect__wrap-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.section__connect {
  margin-top: 110px;
  display: block;
  margin-bottom: 150px;
  padding-left: 0;
  padding-right: 0; }
  @media (max-width: 1050px) {
    .section__connect {
      margin-bottom: 0; } }

.connect__wrap {
  display: flex;
  flex-wrap: wrap;
  height: auto; }
  @media (max-width: 1050px) {
    .connect__wrap {
      flex-flow: column; } }

.connect__inner-wrap {
  width: 58%;
  height: 472px; }
  @media (max-width: 1050px) {
    .connect__inner-wrap {
      height: 580px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 18px; } }
  @media (max-width: 800px) {
    .connect__inner-wrap {
      width: 100%; } }

.connect__headMid {
  margin-top: 0;
  margin-bottom: 20px; }
  @media (max-width: 1235px) {
    .connect__headMid {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.connect__par {
  margin-bottom: 25px; }
  @media (max-width: 1235px) {
    .connect__par {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.connect__horRow {
  margin-left: 0;
  margin-bottom: 70px; }
  @media (max-width: 1235px) {
    .connect__horRow {
      margin-left: auto;
      margin-right: auto; } }

.connect__inputs-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.connect__input {
  height: 70px;
  width: 340px;
  background: #e0e0e0;
  text-indent: 12%; }
  @media (max-width: 1200px) {
    .connect__input {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; } }
  .connect__input::placeholder {
    font-size: 1.2rem;
    text-indent: 50px;
    color: #737373;
    font-family: "Open Sans", sans-serif; }

.connect__input-msg {
  margin-top: 50px;
  width: 100%;
  height: 250px; }
  @media (max-width: 1050px) {
    .connect__input-msg {
      margin-top: 30px; } }

.connect__button {
  width: 100%;
  height: 70px;
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 30px; }

.contact-info {
  width: 412px;
  background: #2d2d2d; }

.connect__contact-info {
  margin-left: auto; }
  @media (max-width: 1050px) {
    .connect__contact-info {
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      height: 350px;
      margin-top: 40px; } }

.info__content {
  margin-left: 75px;
  margin-top: 140px; }
  @media (max-width: 1050px) {
    .info__content {
      margin-top: 50px; } }
  @media (max-width: 700px) {
    .info__content {
      margin-left: auto;
      margin-right: auto; } }

.info__headLit {
  font-size: 1.125rem;
  color: #d7d7d7;
  text-transform: uppercase; }
  @media (max-width: 700px) {
    .info__headLit {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

@media (max-width: 700px) {
  .info__par {
    margin-left: auto;
    margin-right: auto;
    text-align: center; } }

.footer {
  height: 90px;
  background: #313030;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  opacity: .9; }
  @media (max-width: 550px) {
    .footer {
      height: 70px; } }

.content__align {
  height: 100%;
  max-width: 1250px;
  color: #b1b1b1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 550px) {
    .content__align {
      flex-flow: column; } }

@media (max-width: 550px) {
  .list-social {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 5px;
    padding-left: 0; } }

@media (max-width: 550px) {
  .footer__rights {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 5px; } }

.list-hor-const__item {
  display: inline-block;
  margin-left: 10px; }

.fas__ {
  font-size: 2em;
  color: white;
  background: #313030; }
  @media (max-width: 550px) {
    .fas__ {
      font-size: 1.5rem; } }
