
@import "constants"; // COLORS
@import "short"; // MIXIN etc..
html {
	font-size:16px;
	font-family:$fontfam;}
body {
	box-sizing:border-box;
	color:$colorMainText;
	width: 100vw;
	overflow-x:hidden;
	line-height:$lineH;
	background:$colorBack1;
	margin:0;}

.contentWrapper {
	max-width:$maxw;
	margin:0 auto;}
.container_no-pad {
	padding-left:0;
	padding-right:0;
}

@import "nav";
.link_active {
	background:$colorButtonBack;}

.section {
	margin:0 auto;
	display:flex;
	margin-bottom:85px;
}
.sectionContacts {
	display:flex;
	justify-content:space-between;
}
.sectionContacts-content {
	width:609/($maxW)*100%;
}
.headerBig {
	font-size:3.75rem;
	font-weight:800;
	letter-spacing:2px;
	margin-left:-3px;
	margin-top:0;
	margin-bottom:45px;
	color:$colorHeaderBig;
}
.sectionContacts-content__header1 {
}
.sectionContacts-content__header2 {
	letter-spacing:7px;
	margin-bottom:40px;
}
.textDesc {
	margin-bottom:52px;
	width:80%;
	color:$colorTextDesc;
}
.button {
	width:226px;
	height:55px;
	border-radius:7px;
	background:$colorButtonBack;
	border-width:0;
	font-size:1.13rem;
	font-weight:bold;
	color:$colorButtonText;
}
.sectionContacts-content-figure {
	margin-right:0;
	margin-top:-10px;
	margin-left:auto;
}

.pageBackColor2 {
	background:$colorBack2;
}

.sectionOffers-wrap1 {
	padding-left:0;
}
.sectionOffers {
	margin-top:100px;
	margin-bottom:70px;
}
.headerMid {
	font-size:$headerSize;
	line-height:3.5rem;
	font-weight:bold;
	color:$colorHeaders;
	margin-bottom:34px;
	margin-top:0;
}
.sectionOffers-wrap1__text {
	width:100%;
}
.sectionOffers-wrap1__button {
	background:$colorButtonText;
	color:$colorButtonBack;
	border-radius:7px;
	border:2px solid $colorButtonBack;
}
.sectionOffers-wrap2 {
	margin-top:10px;
}
.sectionOffers-wrap2__headerLit {
	font-size:1.5rem;
	font-weight:600;
	margin-top:15px;
	margin-bottom:12px;
}
.text {
	line-height:1.8rem;
	margin-top:0;
}
.sectionProducts {
	flex-flow:column;
	padding-top:88px;
	border-top:2px solid $colorSectionBorder;
	margin-bottom:53px;
}
.sectionProducts__header {
	@extend %cen;
	margin-bottom:20px;
}
.sectionProducts__text {
	width:38%;
	@extend %cen;
	text-align:center;
}
.horRow {
	width:10.8%;
	background:$colorButtonBack;
	height:3px;
	@extend %cen;	
}
.list {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	@extend %no-decor;
	width:72%;
	@extend %cen;
	padding-left:0;
	margin-top:30px;
	margin-bottom:35px;
}
.list__item {
	color:$colorMainText;
	font-size:1.375rem;
	font-weight:bolder;
	margin-top:65px;
}
.list__item_active {
	color:$colorButtonBack;
}
.figure {
	margin-left:0;
	margin-right:0;
}
.sectionTeam {
	display:block;
}
.sectionTeam-member__header {
	margin-bottom:20px;
}
.sectionTeam-member__text {
	width:40%;
}
.sectionTeam-member__hr {
	margin-left:0;
	margin-bottom:70px;
}
.sectionTeam-member__figure {
	margin-top:0;
}
.sectionTeam-wrapMembers {
	display:flex;
}
.sectionTeam-wrapMembers-desc {
	margin-left:70px;
}
.sectionTeam-wrapMembers-desc__header {
	font-size:1.875rem;
	font-weight:600;
	margin-top:0;
	margin-bottom:25px;
}
.sectionTeam-wrapMembers-desc__text {
	width:62%;
	margin-bottom:8px;
}
.sectionTeam-wrapMembers-desc-socNet {
	margin-top:11px;
	width:375px;
	margin-left:0;
	font-style:italic;
	font-weight:normal;
	margin-bottom:45px;
}
.sectionTeam-wrapMembers-desc-figWrap {
	justify-content:space-between;
}
.photosMems {
	width:200px;
	height:200px;
	margin-bottom:0;
}
.Image {
	width:100%;
	height:100%;
}
.figureWrap {
	display:flex;
}
.formSub {
	background-image:url(imgCss/formSubBack.jpg);
	/* background:green; */
	/* background-position: center; */
/*     background-repeat: no-repeat;*/
	/* background-size:100%,100%; */
    height:512px;
}
.formSub__header {
	color:$colorBack2;
	text-align:center;
	@extend %cen;
	margin-top:130px;
	font-size:2.625rem;
	margin-bottom:46px;
}
.formSub__text {
	color:$colorBack2;
	@extend %cen;
	text-align:center;
	font-size:1.625rem;
	margin-bottom:70px;}
.formSub-wrap {
	width:48.7%;
	@extend %cen;
	display:flex;
	justify-content:space-between;

}
.formSub-wrap__inputSubUser {
	width:69%;
	height:80px;
	border-radius:7px;
	border-width:0;
	font-size:1.2rem;
	text-indent:8%;
	font-family:$fontfam;
	&::placeholder {
		font-size:1.2rem;
		text-indent:8%;
		color:$colorBack1;
		font-family:$fontfam;
	}
}
.formSub-wrap__btnSubUser {
	width:28%;
	height:80px;

}
