
@import "constants"; // COLORS
@import "short"; // MIXIN etc..
.nav {
		background:$colorNavBack;
		max-width:$maxw;
		height:90px;
		font-size:.875rem;
		font-weight:bold;
		margin-bottom:113px;
		margin-top:30px;
		@extend %cen;}
.nav-links {
		height:inherit;
		margin-left:357/$maxW*100%;
		margin-top:0;
		margin-bottom:0;
		width:483px;;
		@extend %no-decor;
		display:flex;
		padding-left:0;
}

.nav-links-li {
	height:inherit;
}

.nav-links-li__link {
	display:inline-block;
	height:inherit;
	@extend %no-decor;
	color:$colorBack1;
	}
.nav-links-li__link1 {
}
.nav-links-li__linkText {
	display:block;
	@include top($mt:33px);
	text-align:center;
}

.nav-links-li__linkText1 {
	width:90px;
}
.nav-links-li__linkText2 {
	width:165px;
}
.nav-links-li__linkText3 {
	width:87px;
}
.nav-links-li__linkText4 {
	width:165px;
}