@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i");
.nav, .link {
  text-decoration: none;
  list-style-type: none; }

.nav {
  display: flex;
  height: 100%;
  width: 483px; }

.l-nav {
  margin-left: 28.56%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.nav__item {
  height: 100%; }

.link {
  display: flex;
  align-items: center;
  height: 100%;
  color: #e0e0e0; }

.link_active {
  background: #ff3f40; }

.link_w_90 {
  width: 90px; }

.link_w_165 {
  width: 165px; }

.link_w_87 {
  width: 87px; }

.link_w_165 {
  width: 165px; }

.link__cap {
  text-align: center;
  width: 100%; }
