@mixin pos0 ($pt:0,$pr:0,$pb:0,$pl:0,$mt:0,$mr:0,$mb:0,$ml:0) {
	padding-top:$pt;
	padding-right:$pr;
	padding-bottom:$pb;
	padding-left:$pl;
	margin-top:$mt;
	margin-right:$mr;
	margin-bottom:$mb;
	margin-left:$ml;
}
%no-decor {
	text-decoration:none;
	list-style-type:none;
}
%m0 {
	margin-left:0;
	margin-right:0;
}
%cen {
	margin-left:auto;
	margin-right:auto;
}
@mixin top ($pt:0,$mt:0) {
	padding-top:$pt;
	margin-top:$mt;
}
@mixin left ($pl:0,$ml:0) {
	padding-left:$pl;
	margin-left:$ml;
}
@mixin right ($pr:0,$mr:0) {
	padding-right:$pr;
	margin-right:$mr;
}
@mixin bot ($pb:0,$mb:0) {
	padding-bottom:$pb;
	margin-bottom:$mb;
}