$colorMainText:#737373;
$colorHeaders:#585858;
$colorBack1:#e0e0e0;
$colorBack2:#ffffff; 
$colorButtonBack:#ff3f40;
$colorNavBack:#313030;
$colorHeaderBig:#000000;
$colorButtonText:white;
$colorTextDesc:#6f6d6d;
$colorSectionBorder:#ececec;
$colorContactInfoBack:#2d2d2d;
$colorContactInfoHeader:#d7d7d7;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i');
$fontfam: 'Open Sans', sans-serif;

$borderWH: 1px solid white;
$borderBL: 1px solid black;

$headerSize:2.6rem;
$lineH:1.7rem;

$maxw:1250px;
$maxW:1250