.parallax {
	background-image: url(imgCss/parallax_2.jpeg);
	background-attachment: fixed;
	@extend %cen;
	border:1px solid transparent;
}
.sect__contacts {
	justify-content:space-between;
	margin-bottom:85px;
}
.contacts__text {
	width:609px;
	@media (max-width:1000px) {
		margin-left:auto;
		margin-right: auto;
	}
}
.section-contacts {
	border:1px solid transparent;
}
.contacts__headBig_1 {
	margin-left:-3px;
	margin-top:0;
	margin-bottom:0;
	@media (max-width:1000px) {
		margin-left:auto;
		margin-right: auto;
		text-align: center;
	}
	@media (max-width:580px) {
		font-size:2.3rem;
	}
	@media (max-width:330px) {
		font-size:2rem;
		letter-spacing:3px;
	}
}
.contacts__headBig_2 {
	letter-spacing:7px;
	margin-bottom:15px;
	margin-top:0;
	@media (max-width:1000px) {
		margin-left:auto;
		margin-right: auto;
		text-align: center;
	}
	@media (max-width:580px) {
		font-size:2.3rem;
		letter-spacing:4px;
	}
	@media (max-width:330px) {
		font-size:2rem;
		letter-spacing:3px;
	}
}
.contacts__par {
	width:80%;
	margin-top:0;
	margin-bottom:20px;
	@media (max-width:1000px) {
		margin-left:auto;
		margin-right: auto;
		text-align: center;
	}
}
.contacts__figure {
	flex-basis:360px;
	width:470/$maxW*100%;
	max-width:470px;
	align-self: flex-end;
	@media (max-width:1000px) {
		margin-left:auto;
		margin-right: auto;
	}
}
.fig-cap {
	position:absolute;
	bottom:0;
	width:100%;
	height:100%;
	opacity:0;
	display:flex;
	justify-content: center;
	&:hover {
		opacity:1;
		background-color:rgba(70,70,70,.6);
		transition:opacity 0.5s ease-out;
	}
}
.fig__cap {
	align-self: flex-end;
	text-align:center;
	color:red;
	font-size:1.4rem;
	font-weight: 700;
	height:80px;
	text-shadow:3px 3px 12px black;
}