$Transparent:#737373;
$Back1:#e0e0e0;
$Back2:#ffffff; 
$ButtonBack:#ff3f40;
$NavBack:#313030;
$footerBack:#313030;
$Heads:#585858;
$ButtonText:white;
$HeadBig:#000;
$TextDesc:#6f6d6d;
$SectionBorder:#ececec;
$ContactInfoBack:#2d2d2d;
$ContactInfoHeader:#d7d7d7;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i');
$fontfam: 'Open Sans', sans-serif;

$borderWH: 1px solid white;
$borderBL: 1px solid black;

$headerSize:2.6rem;
$lineHeadBig:1.2;
$lineHeadMid:1.3;
$lineText:1.8;

$maxw:1250px;
$maxW:1250