// FOOTER 
.footer {
	height: 80px;
	background:$footerBack;
	position:fixed;
	bottom:0;
	left:0;
	z-index:5;
	width:100%;
	opacity:.9;
	@media (max-width:870px) {
		height:80px;
	}
}
.content__align {
	height:100%;
	max-width:$maxw;
	color:#b1b1b1;
	@extend %cen;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	@media (max-width:870px) {
		flex-flow: column;
		justify-content: flex-start;
	}
}
.list-social {
	padding-left: 0;
	@media (max-width:870px) {
		margin-left: auto;
		margin-top: 0;
		margin-bottom: 0;
		margin-right:auto;
		padding-left: 0;
		margin-top: 0;
	}
}
.footer__rights {
	@media (max-width:870px) {
		font-size:0.6rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		margin-top: 0;
	}
}
.text-highlight {
	margin-left: auto;
	animation: textStretch 2s ease-in-out 0s infinite alternate,
	textBold 2s ease-in-out 0s infinite alternate;
	@media (max-width:870px) {
		display: block;
		font-size:0.7rem;
		text-align: center;
		margin-right: auto;
		padding-top: 0;
		padding-bottom: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@keyframes textStretch {
	0% {letter-spacing: 2px}
	100% {letter-spacing: 4px}
}
@keyframes textBold {
	0% {font-size: bold}
	100% {font-size: normal}
}
.list-hor-const__item {
	display: inline-block;
	margin-left: 10px;
}
.fas__ {
	font-size:2em;
	color:white;
	background:$footerBack;
	@media (max-width:870px) {
		font-size:1.6rem;
	}
}
// FOOTER