.info__content {
	margin-left:75px;
	margin-top:140px;
	@media (max-width:1050px) {
		margin-top:50px;
	}
	@media (max-width:700px) {
		margin-left:auto;
		margin-right: auto;
	}
}
.info__headLit {
	font-size:1.125rem;
	color:$ContactInfoHeader;
	text-transform:uppercase;
	@media (max-width:700px) {
		margin-left:auto;
		margin-right: auto;
		text-align:center;
	}
}
.info__par {
	@media (max-width:700px) {
		margin-left:auto;
		margin-right: auto;
		text-align:center;
	}
}
.connect__contact-info {
	margin-left:auto;
	@media (max-width:1050px) {
		margin-right: auto;
		margin-left: auto;
		width:100%;
		height:350px;
		margin-top:40px;

	}
}