.section__offers {
	margin-top:100px;
	margin-bottom:85px;
	@media (max-width: 1136px) {
		margin-top: 400px;
	}
	@media (max-width: 580px) {
		margin-top: 400px;
	}
}
.offers_wrap {
	margin-right: auto;
	margin-left: auto;
}
.offers__headMid {
	margin-bottom:34px;
	margin-top:0;
	@media (max-width:1235px) {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
.offers__par {
	width:100%;
	margin-bottom: 50px;
	@media (max-width:1235px) {
		margin-left:auto;
		margin-right: auto;
		text-align: center;
	}
}
.offers__button {
	display:block;
	background:$ButtonText;
	color:$ButtonBack;
	border-radius:7px;
	border:2px solid $ButtonBack;
	margin-bottom: 100px;
	&:hover {
		background-color:#ffefef;
		transition: background-color 0.3s ease-out;
	}
	&:active {
		border-size:4px;
		background-color:$ButtonText;
	}
	@media (max-width:1235px) {
		margin-left:auto;
		margin-right: auto;
	}
}
.offers_media {
/* 	@media (max-width:1235px) {
	margin-bottom: 60px;
} */
}
.offers__desc {
	margin-top:10px;
	color:$Transparent;
	@media (max-width:1000px) {
		margin-left:auto;
		margin-right: auto;
		text-align: center;
	}
}
.offers__headLit {
	margin-top:15px;
	margin-bottom:12px;
}
.__media {
	@media (max-width:1000px) {
		padding:0;
	}
}
.offers__icon {
	font-size:35px;
	color:$ButtonBack;
}