.section-formSub {
	background-image: url('../components/app/img/back/formSubBack.jpg');
    height:512px;
    margin-top:85px;
    @media (max-width:860px) {
		padding-left: 15px;
		padding-right: 15px;
	}

}
.formSub__head {
	color:$Back2;
	text-align:center;
	@extend %cen;
	margin-top:130px;
	font-size:2.625rem;
	margin-bottom:25px;
	@media (max-width:1040px) {
		margin-top:40px;
	}
	@media (max-width:700px) {
		font-size:1.9rem;
	}
}
.formSub__par {
	color:$Back2;
	@extend %cen;
	text-align:center;
	font-size:1.625rem;
	margin-bottom:50px;
	@media (max-width:1000px) {
		margin-bottom:20px;
		font-size:1.4rem;
	}
	@media (max-width:400px) {
		font-size:1.2rem;
	}

}
.formSub-wrap {
	max-width:850px;
	height: 250px;
	@extend %cen;
	display:flex;
	flex-wrap:wrap;
	position: relative;
	align-items: center;
	@media (max-width: 1276px) {
		height: 130px;
	}
	@media (max-width:1000px) {
		height: 250px;
		flex-flow:column;
	}
}
.formSub__wrap-input-icon {
	position: relative;
	margin-right:20px;
	margin-left: auto;
	max-width:520px;
	width:69%;

	@media (max-width:1000px) {
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 10px;
		height:70px;
	}
	@media (max-width:450px) {
		width:80%;
		height: 60px;
	}
}
.formSub__input {
	width:100%;
}
.icon__accept {
	position: absolute;
	top:0;
	right:0;
	font-size: 1.4rem;
	color: green;
	display: none;
}
.icon__error {
	position: absolute;
	top:0;
	right:0;
	font-size: 1.4rem;
	color: red;
	display: none;
}
.visible {
	display: block;
}
.formSub__btn {
	width:215px;
	height:70px;
	margin-bottom: 65px;
	text-transform:uppercase;
	margin-left: auto;
	@media (max-width:450px) {
		height: 60px;
	}
}