.link_1 {
	width:90px;
}
.link_2 {
	width:165px;
}
.link_3 {
	width:120px;
}
.link_4 {
	width:165px;
}
.link_block {
	overflow: hidden;
	height: 0px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border:0px solid black;
	background: radial-gradient(ellipse at center,black,#505050 100%);
}