<section class="sect section-contacts">
    <dialog className=""></dialog>
    <div class="contacts__text">
        <div class="contacts-header__animation">
            <h1 class="headbig contacts__headbig_1">
                our strong
            </h1>
        </div>
        <h1 class="headbig contacts__headbig_2">
            organization
        </h1>
        <p class="par contacts__par">
            Our organization has proved standards of quality. Take it farther and you can conquer market.
        </p>
        <button type="button" class="button contacts__button" (click)="onClick()">
            contact us
        </button>
    </div>
    <iframe class="contacts__video" src="https://www.youtube.com/embed/IItzqfH8h_o" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</section>
