<nav [ngClass]="getNavContainerStyle()" 
    wrapOverflowed
    [targetWrap]="getTargetForWrapCheck()"
    [start]="isChildViewsInit"
    (wrapped)="onItemsHorizontallyWrapped()"
    (unWrapped)="onItemsHorizontallyUnWrapped()">
    <div [hidden]="isMobileNavEnabled()">
        <ul #targetWrapOverflowed class="nav">
            <li *ngFor="let navItem of navItems; trackBy: trackByCall" class="nav-link-container">
                <a [routerLink]="navItem.path" (click)="onClick($event, navItem)" class="nav-link">
                    <div class="nav-link-text-container">
                        {{navItem.displayName}}
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div [hidden]="!isMobileNavEnabled()" class="nav-mobile-menu-container">
        <div class="nav-mobile-icons-container">
            <img class="nav-mobile-menu-icon" src="/assets/img/icons/bars-solid.svg"
                [hidden]="isMobileNavMenuNotCollapsed()" (click)="toggleMobileNavMenu()">
            <img class="nav-mobile-menu-icon" src="/assets/img/icons/times-solid.svg"
                [hidden]="!isMobileNavMenuNotCollapsed()" (click)="toggleMobileNavMenu()">
        </div>
        <ul class="nav-mobile-links-container" [hidden]="!isMobileNavMenuNotCollapsed()">
            <li *ngFor="let navItem of navItems; trackBy: trackByCall" class="nav-link-container"
                [ngClass]="getMobileNavLinkStyle()">
                <a [routerLink]="navItem.path" (click)="onClick($event, navItem)" class="nav-link">
                    <div class="nav-mobile-link-text-container">
                        {{navItem.displayName}}
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>