@import "shared/styles/main.scss";

.nav-container {
	//position: absolute;
	background: $NavBack;
	font-size: 0.875rem;
	font-weight: bold;
	@extend %cen;
	height: 90px;
	width: 100%;
	max-width: $maxw;
	display: flex;
	justify-content: center;
	@media (max-width: 600px) {
		height: 70px;
		margin-bottom: 65px;
	}
}

.nav-container__mobile {
    justify-content: left;
}

.nav {
	@extend %no-decor;
	display: flex;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
	/* margin-left:0 */ /* 357/$maxW*100%; */
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
}

.nav-mobile-menu-container {
	position: relative;
	width: 100%;
}

.nav-mobile-icons-container {
	position: absolute;
	z-index: 5;
}


.nav-mobile-links-container {
	position: absolute;
	z-index: 4;
	list-style-type: none;
	padding-left: 0;
	height: 100vh;
	overflow: auto;
	// currently only firefox browsers support this, maybe it will be part of standard in future
	scrollbar-width: none;
	// @media (max-width: 600px) {
	// 	height: 300px;
	// }
}

// this is not part of general standard between all web-browsers, only webkit as chrome and safari
.nav-mobile-links-container::-webkit-scrollbar {
	display: none;
}

.nav-mobile-menu-icon {
	width: 45px;
	height: 45px;
}

@keyframes slide-nav-mobile_width-in {
	0% {
		height: 0;
	}
	80% {
		height: 73px;
	}
	100% {
		height: 70px;
	}
}
@keyframes slide-nav-mobile_width-out {
	0% {
		height: 70px;
	}
	100% {
		height: 0;
	}
}

.nav-mobile-uncollapsed {
	border-width: 1px;
	animation: slide-nav-mobile_width-in 0.6s ease-out 0s forwards;
}

.nav-mobile-collapsed {
	animation: slide-nav-mobile_width-out 0.6s ease-out 0s forwards;
	border-width: 0px;
}

.nav-link-container {
	background-color: $NavBack;
	height: 100%;
}

.nav-link {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 100%;
	@extend %no-decor;
	color: $Back1;
	border: 2px solid transparent;
	padding: 0 10px;
	overflow: hidden;
	&:hover {
		background: $ButtonBack;
		border-color: #c01213;
		transition: background-color 0.4s ease-out, border 0.2s ease-out;
		color: white;
	}
	&:active {
		background: $ButtonBack;
		border-color: #c01213;
		color: white;
		box-shadow: inset 0 0 17px 3px rgba(0, 0, 0, 0.3);
	}
}

.nav-link-text-container {
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	&:active {
	}
}

.nav-mobile-link-text-container {
	font-size: 0.875rem;
	font-weight: bold;
	color: $Back1;
	margin-top: 23px;
	text-align: center;
	@extend %no-decor;
	display: block;
	width: 200px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
}
