<nav [ngClass]="getNavContainerStyle()">
    <div *ngIf="!isMobileNavEnabled(); else elseBlock">
        <ul class="nav">
            <li *ngFor="let navItem of navItems; trackBy: trackByCall" class="nav-link-container">
                <a [routerLink]="navItem.path" (click)="onClick($event, navItem)" class="nav-link">
                    <div class="nav-link-text-container">
                        {{navItem.displayName}}
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <ng-template #elseBlock>
        <div class="nav-mobile-menu-container">
            <div class="nav-mobile-icons-container">
                <img class="nav-mobile-menu-icon" src="/assets/img/icons/bars-solid.svg"
                    [hidden]="isMobileNavMenuNotCollapsed()" (click)="toggleMobileNavMenu()">
                <img class="nav-mobile-menu-icon" src="/assets/img/icons/times-solid.svg"
                    [hidden]="!isMobileNavMenuNotCollapsed()" (click)="toggleMobileNavMenu()">
            </div>
            <ul class="nav-mobile-links-container" [hidden]="!isNavMobileLinksContainerVisible()">
                <li *ngFor="let navItem of navItems; trackBy: trackByCall" class="nav-link-container"
                    [ngClass]="getMobileNavLinkStyle()">
                    <a [routerLink]="navItem.path" (click)="onClick($event, navItem)" class="nav-link">
                        <div class="nav-mobile-link-text-container">
                            {{navItem.displayName}}
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </ng-template>
</nav>