<div class="nav__mobile">
    <div class="link_block">
        <a ui-sref="home" ui-sref-active="active" class="link__cap_mobile">
            home
        </a>
    </div>
    <div class="link_block">
        <a ui-sref="portfolio" ui-sref-active="active" class="link__cap_mobile">
            portfolio
        </a>
    </div>
    <div class="link_block">
        <a ui-sref="about-us" ui-sref-active="active" class="link__cap_mobile">
            about us
        </a>
    </div>
    <div class="link_block">
        <a ui-sref="contact" ui-sref-active="active" class="link__cap_mobile">
            contact
        </a>
    </div>
    <div class="bigmac">
        <div class="bigmac__inner"></div>
        <div class="bigmac__inner"></div>
        <div class="bigmac__inner"></div>
    </div>
    </div>