<div class="nav__mobile">
    <div class="link_block">
        <a href="/home" class="link__cap_mobile">
            home
        </a>
    </div>
    <div class="link_block">
        <a href="/portfolio" class="link__cap_mobile">
            portfolio
        </a>
    </div>
    <div class="link_block">
        <a href="about-us" class="link__cap_mobile">
            about us
        </a>
    </div>
    <div class="link_block">
        <a href="contact" class="link__cap_mobile">
            contact
        </a>
    </div>
    <div class="bigmac">
        <div class="bigmac__inner"></div>
        <div class="bigmac__inner"></div>
        <div class="bigmac__inner"></div>
    </div>
    </div>